@keyframes animation {
    0% {
        background-color: blueviolet;
        transform: translateY(-7px);
    }
    25% {
        background-color: mediumslateblue;
    }
    50% {
        background-color: pink;
    }
    75% {
        background-color: magenta;
    }
    85% {
        background-color: maroon;
    }
    100% {
        background-color: blueviolet;
        transform: translateY(400px);
    }
}
.box 
{
    margin: 0 auto;   
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 400px;
    height: 300px;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.box:hover {
    animation-play-state: paused;
}